<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-O8V49SL;Initial Catalog=OOP_COURSEWORK;Integrated Security=True"
         providerName="System.Data.SqlClient" />

    <add name="CoolerDaniel" connectionString="Data Source=DESKTOP-O8V49SL;Initial Catalog=CoolerOopDatabase;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Ad" value="False" />
  </appSettings>
</configuration>
<!--Scaffold-DbContext "Data Source=DESKTOP-O8V49SL;Initial Catalog=OOP_COURSEWORK;Integrated Security=True" Microsoft.EntityFrameworkCore.SqlServer-->